<!DOCTYPE html5>
<html>
    <head>
      <title>movies.io</title>
        <script src="/js/lib/require.js", data-main="/js/application"></script>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
