<!DOCTYPE html5>
<html>
    <head>
      <title>movies.io</title>
        <%= yield %>
        <script src="/js/lib/require.js" data-main="/js/application.js"></script>
    </head>

    <body>
    </body>
</html>
