body {
    font: 16px 'LatoRegular', Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

h1 {
    font-weight: 400;
}

.clear {
    clear: both;
}

a {
    color: #225F8C;
    text-decoration: none;
}

a:active, a:hover, a:focus, * {
    outline: none;
}

a:active, a:hover, a:focus {
    text-decoration: underline;
}
