body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-weight: 400;
}

.topbar {
    display: block;
    position: fixed;
    margin: 0 auto;
    padding: 5px 0;
    top: 0;
    left: 0;
    width: 100%;
    color: #797979;
    background-color: rgba(10, 10, 10, 0.87);
    font-size: 21px;
    font-family: 'LatoLight', Helvetica, Arial, sans-serif;
}

.topbar a {
    color: #C0BDC2;
    text-decoration: none;
}

.topbar a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}

.topbar nav {
    width: 845px;
    margin: 0 auto;
}

.toplogo {
    height: 20px;
    vertical-align: middle;
    padding: 0 2px 2px 5px;
}

.searchbar {
    float: right;
}

.searchbar #q {
    -webkit-transition: width 0.3s ease 0s;
       -moz-transition: width 0.3s ease 0s;
            transition: width 0.3s ease 0s;
    width: 180px;
    margin-right: 10px;
    font-size: 11pt;
    padding: 6px;
}

.searchbar #q:focus {
    width: 280px;
    opacity: 1.0;
}

#app {
    margin: 38px auto;
    width: 845px;
}

.dark {
    color: #A0A0A0;
    background: black !important; /* cascading sucks */
}
